*.cut
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
# *.pdf
*.run.xml

pdf
code/rocq/_opam
_opam

**/*.aux
**/*.vos
**/*.vok
**/*.glob
**/.lia.cache
**/.nia.cache
**/*.generated*
**/*.vo
**/*.generate
**/_build
**/tex_code
.Makefile.d
Makefile
.gitignore
